absl-py
astor
certifi
chardet
click
decorator
docopt
Flask
gast
grpcio
gunicorn
idna
imageio
itsdangerous
Jinja2
Markdown
MarkupSafe
mkl-fft
mkl-random
moviepy
numpy
Pillow
pipreqs
protobuf
requests
scipy
six
tensorboard
tensorflow
termcolor
tqdm
urllib3
Werkzeug
wincertstore
yarg
